<main class="main">
  <h3>A faire</h3>

  <form [formGroup]="taskForm" (ngSubmit)="addTask($event)">
    <label for="taskName">Nom de la tâche</label>
    <br>
    <input type="text" id="taskName" name="taskName" placeholder="Nouvelle tâche" formControlName="taskName" autofocus>
    <br>
    <label for="taskDate">A réaliser le </label>
    <br>
    <input type="date" id="taskDate" name="taskDate" formControlName="taskDate">
    <br>
    <input type="submit" value="créer" />
  </form>

  <app-taskshead [tasks]="tasks"/>

  @for(task of tasks; track task.id) {
    <app-task [task]="task"
              (onTaskStatusChange)="updateTaskStatus($event[0], $event[1])"
              (OnTaskDelete)="deleteTask($event)" />
  } @empty {
    <p>Aucune tâche à réaliser</p>
  }
</main>

<style>
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<router-outlet/>
